<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
 <web-app>
	<servlet>
	    <servlet-name>resteasy-servlet</servlet-name>
	    <servlet-class>javax.ws.rs.core.Application</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>resteasy-servlet</servlet-name>
	    <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app>